body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9; /* Light background */
    color: #333; /* Text color */
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    border-left: 8px solid #e11a27;
    height: 60px;
}

.header img {
    width: 10em;
}

.header p {
    margin-right: 2em;
    font-weight: bold;
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    background-color: #e11a27; /* Bold red for contrast */
    color: white;
    padding: 1rem;
    text-align: center;
    border-bottom: 3px solid #c0001a; /* Darker shade for depth */
}

nav h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
}

nav p {
    margin: 0.5rem 0 0;
    font-size: 1.2rem;
}

main {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for elegance */
    border-radius: 10px;
}

#threads-container {
    margin-bottom: 2rem;
}

#threads-container h2 {
    font-size: 1.8rem;
    color: #e11a27;
    border-bottom: 2px solid #c0001a;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}


button {
    background-color: #e11a27;
    color: white;
    border: none;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c0001a;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #e11a27;
    color: white;
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: bold;
}

.thread {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    position: relative;
}

.thread .name {
    font-size: 1.2rem; /* Smaller than the title */
    font-weight: bold;
    margin: 0;
    display: inline-block;
}

.thread .meta {
    float: right;
    font-size: 1rem;
    color: #666;
}

.thread h2 {
    font-size: 1.8rem; /* Larger than the name */
    margin: 0.5rem 0 0;
}

.thread p {
    margin: 0.5rem 0;
}

.thread small {
    display: block;
    margin-top: 0.5rem;
}

.thread .buttons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.thread .buttons button {
    background-color: #e11a27;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 1rem;
}

.thread .buttons button:last-child {
    margin-right: 0;
}

.thread .buttons button:hover {
    background-color: #c0001a;
}

.thread .date {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.875rem;
    color: #666;
}
