body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#eeeeee;
}

.header {
    display: flex;  
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    border-left: 8px solid #e11a27;
    height: 60px;
}

.header img{
    width: 10em;
}

.header p{
    margin-right: 1.5em;
    font-weight:bold;
    font-size: 1.2em;
}

/* Styles for the box below the header */
.navbar {
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow at the bottom */
    text-align: center;
    height: 15px;
    display:flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

.navbar p {
    margin-right:40px;
}

.center-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
}

.login-container {
    margin-top:3em;
    background-color: #f9f9f9;
    padding: 160px;
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 40em;
    height: 15em;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 40px;
    font-size: 48px;
    color: #333;
}

.login-container label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
    font-size: 24px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 20px;
    margin-bottom: 40px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 24px;
    background-color: #e0e0e0;
}

.login-container input[type="submit"] {
    width: 25%;
    padding: 20px;
    background-color: #d32f2f;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

.login-container input[type="submit"]:hover {
    background-color: #c62828;
}

.error-message {
    color: #d32f2f;
    font-size: 18px;
    margin-top: 20px;
}