body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#eeeeee;
}

.header {
    display: flex;  
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    border-left: 8px solid #e11a27;
    height: 60px;
}

.header img{
    width: 10em;
}

.header p{
    margin-right: 1.5em;
    font-weight:bold;
    font-size: 1.2em;
}

/* Styles for the box below the header */
.navbar {
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow at the bottom */
    text-align: center;
    height: 15px;
    display:flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

.navbar p {
    margin-right:40px;
}

.center-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ensures the content centers vertically within the viewport */
    background-color: #eeeeee;
    
}

.login-container {
    background-color: #f9f9f9;
    padding: 2em; /* Sets a balanced padding around the form */
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px; /* Limits the form width */
    text-align: center;
    margin-top: -10em; /* Adjust this value to control how far up it moves */
    background-color: white;

}

.login-container h2 {
    font-size: 2rem;
    margin-bottom: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bold;
    margin-top:0.5em;
    
}

.login-container label {
    display: block;
    text-align: left;
    margin-bottom: 0.5em;
    color: #333;
    font-weight: bold;
    font-size: 1.2rem;
    margin-left:20px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 90%;
    padding: 1em;
    margin-bottom: 1.5em;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #f9f9f9;
    font-family: monospace;
}

.login-container input[type="submit"] {
    width: 50%;
    padding: 12px;
    background-color: #d32f2f;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    border:2px solid #333;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bold;
    margin-top: 15px;

}

.login-container input[type="submit"]:hover {
    background-color: #c62828;
}

.error-message {
    color: #d32f2f;
    font-size: 1rem;
    margin-top: 1em;
}

#loginForm {
    margin-bottom: 0; /* Prevents excessive space at the bottom */
}
